.footer-top {
  background-color: #E8EEF3;
  font-family: 'RobotoCondensed-regular', sans-serif; }
.footer-top__img img {
  height: auto; }
.footer-top__box {
  margin-top: 5rem; }

.footer-bottom {
  background-color: #DFE6EC; }
.footer-bottom__text {
  font-family: 'RobotoCondensed-light', sans-serif;
  line-height: 1em;
  font-size: 0.75rem;
  text-align: center;
  color: #969696;
  margin: 7px 0; }
.footer-bottom__text p {
  margin: 0; }

.footer-menu__box {
  margin: 0;
  padding: 0;
  list-style: none; }

.footer-menu a {
  line-height: 1.5rem;
  font-size: 0.8125rem;
  color: #848484;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s; }
.footer-menu a:hover, .footer-menu a:active {
  text-decoration: none;
  color: #1B1B1B; }

.footer-contacts__box {
  margin: 0;
  padding: 0;
  list-style: none; }

.footer-contacts__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
.footer-contacts__item a, .footer-contacts__item span {
  text-decoration: none;
  color: #848484;
  line-height: 18px;
  font-size: 13px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: -0.3px; }
.footer-contacts__item:hover a, .footer-contacts__item:hover span, .footer-contacts__item:active a, .footer-contacts__item:active span {
  text-decoration: none;
  color: #1B1B1B; }

.footer-contacts__item-img {
  display: inline-block;
  margin-right: 10px; }

.footer-contacts__item-tel a {
  display: block; }
.footer-contacts__item-tel a:nth-child(odd) {
  margin-bottom: 4px; }

.footer-info__box {
  margin: 0;
  padding: 0;
  list-style: none; }

.footer-info__item:nth-child(even) {
  margin: 13px 0 5px; }

.footer-info__item:last-child {
  margin-bottom: 0; }

.footer-info__work-time p {
  text-decoration: none;
  color: #848484;
  line-height: 18px;
  font-size: 13px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: -0.3px;
  margin: 0; }

.footer-info__call-back a {
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 13px;
  color: #F39B75;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s; }
.footer-info__call-back a:hover, .footer-info__call-back a:active {
  text-decoration: none;
  color: #FF7A41;
  cursor: pointer; }

.footer-info__social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
.footer-info__social a {
  text-decoration: none;
  color: #848484; }
.footer-info__social a:hover, .footer-info__social a:active {
  text-decoration: none;
  color: #848484; }

.footer-info__social-img {
  display: inline-block;
  margin-right: 1rem; }
