body {
  font: 100% "RobotoCondensed-regular", sans-serif;
  color: #333; }

.hidden-block {
  position: absolute;
  left: -99999em;
  top: -99999em; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; }

html {
  height: 100%; }

body {
  min-height: 100%;
  width: 100%;
  min-width: 320px;
  font-family: 'RobotoCondensed-regular', sans-serif;
  background: #fff;
  color: #000000;
  position: relative;
  font-size: 16px;
  line-height: 1; }

img {
  vertical-align: bottom;
  border: 0;
  max-width: 100%; }

.global-wrapper {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  overflow: hidden; }

/* /base styles */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #212121; }

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #212121;
  opacity: 1; }

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #212121;
  opacity: 1; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #212121; }

/* basic classes */
@media (min-width: 1360px) {
  .container {
    max-width: 1300px; } }

.reset-link {
  text-decoration: none;
  color: #1B1B1B;
  display: block; }
.reset-link:hover {
  text-decoration: none;
  color: #1B1B1B; }
.reset-list {
  list-style: none;
  margin: 0;
  padding: 0; }

.header-text {
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 0.75rem;
  color: #9BA4AB;
  text-decoration: none;
  letter-spacing: -0.6px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s; }

a.header-text:hover {
  color: #1B1B1B;
  text-decoration: none; }

.user-cart {
  position: relative;
  color: #F6A17C;
  text-decoration: none;
  display: inline-block;
  width: 19px;
  height: 18px; }
.user-cart:hover {
  text-decoration: none;
  color: #F39B75; }
.user-cart__circle {
  position: absolute;
  width: 14px;
  height: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  top: -5px;
  right: -5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #FFFFFF;
  border: 1px solid #F6A17C; }
.user-cart__count {
  font-size: 9px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  line-height: 0; }

.user-like {
  text-decoration: none;
  display: inline-block;
  width: 19px;
  height: 18px; }
.user-like:hover {
  text-decoration: none;
  color: #F6A17C; }

.head-chapter {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #1B1B1B;
  text-align: center;
  margin: 20px 0;
  line-height: 1; }

.btn--banner {
  background-color: #3F3F3F;
  font-family: 'RobotoCondensed-bold', sans-serif;
  line-height: 1.5em;
  font-size: 0.875rem;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 20px;
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s; }
.btn--banner:hover {
  text-decoration: none;
  background-color: #1B1B1B; }

.btn--grey {
  background-color: #E8EEF3;
  color: #1B1B1B;
  line-height: 1em;
  font-size: 0.875rem;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  padding: 11px 20px 12px;
  letter-spacing: -0.5px;
  text-decoration: none;
  border: 1px solid #1B1B1B;
  min-width: 136px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s; }
.btn--grey__w100 {
  width: 100%;
  padding: 16px 20px; }
.btn--grey:hover {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #1B1B1B; }
.btn--grey:focus {
  outline-color: transparent; }

.btn--circle {
  color: #A5A5A5;
  background-color: #F1F1F1;
  line-height: 1em;
  font-size: 0.875rem;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 20px;
  letter-spacing: -0.5px;
  text-decoration: none;
  border: 1px solid #F1F1F1;
  min-width: 142px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s; }
.btn--circle:hover, .btn--circle:active {
  text-decoration: none;
  color: #1B1B1B;
  background-color: transparent;
  border: 1px solid #1B1B1B; }

.btn--popup {
  color: #FFFFFF;
  background-color: #1B1B1B;
  line-height: 1em;
  font-size: 0.875rem;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  padding: 1rem 20px;
  letter-spacing: -0.5px;
  text-decoration: none;
  border: 1px solid #1B1B1B;
  min-width: 142px;
  width: 100%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s; }
.btn--popup:hover, .btn--popup:active {
  text-decoration: none;
  color: #1B1B1B;
  background-color: #FFFFFF; }
.btn--popup:focus {
  outline-color: transparent; }
.btn--popup__inline {
  padding: 1rem 2rem;
  width: auto; }
.btn--popup__w40 {
  width: 40%;
  min-width: 40%; }
.btn--popup__w50 {
  width: 50%;
  min-width: 50%; }
.btn--popup__w50-tr {
  width: 50%;
  min-width: 140px;
  background-color: transparent;
  border-color: transparent;
  color: #1B1B1B;
  text-decoration: underline;
  padding: 1rem 0; }
.btn--popup__w50-tr:hover {
  background-color: transparent;
  text-decoration: underline; }
.btn--popup__tr {
  background-color: transparent;
  border-color: transparent;
  color: #1B1B1B;
  text-decoration: underline;
  padding: 1rem 0; }
.btn--popup__tr:hover {
  background-color: transparent;
  text-decoration: underline; }
.btn--popup__gray {
  background-color: #E8EEF3;
  border-color: #1B1B1B;
  color: #1B1B1B; }
.btn--popup__gray:hover {
  background-color: transparent; }

.input--popup {
  background: #FFFFFF;
  border: 1px solid #DFE6EC;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 1rem 0.6875rem 10px;
  font-size: 1rem;
  color: #1B1B1B;
  line-height: 1em;
  width: 100%;
  letter-spacing: 1px; }
.input--popup:focus {
  outline-color: transparent;
  border: 1px solid #DFE6EC;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #1B1B1B; }
.input--popup::-webkit-input-placeholder {
  color: #C1C1C1;
  letter-spacing: 0.3px; }
.input--popup::-moz-placeholder {
  color: #C1C1C1;
  letter-spacing: 0.3px; }
.input--popup:-ms-input-placeholder {
  color: #C1C1C1;
  letter-spacing: 0.3px; }
.input--popup::placeholder {
  color: #C1C1C1;
  letter-spacing: 0.3px; }

.popup {
  width: 340px;
  padding: 30px;
  margin: 0;
  font-family: 'RobotoCondensed-regular', sans-serif;
  background: #F3F6F9; }
.popup .fancybox-close-small {
  display: none; }
.popup__close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 13px;
  height: 13px;
  cursor: pointer; }
.popup__title {
  font-family: 'RobotoCondensed-light', sans-serif;
  line-height: 25px;
  font-size: 1.125rem;
  text-align: center;
  color: #141414;
  text-transform: uppercase;
  display: block;
  margin-bottom: 1.25rem; }
.popup__form {
  margin-bottom: 1.5rem; }
.popup__input {
  margin-bottom: 1.125rem;
  position: relative; }
.popup__input label {
  line-height: normal;
  font-size: 0.875rem;
  color: #8A8A8A;
  padding-left: 0.6875rem;
  margin-bottom: 2px; }
.popup__register {
  background-color: #E8EEF3;
  margin: 0 -30px;
  padding-top: 20px;
  padding-bottom: 38px; }
.popup__register-title {
  font-family: 'RobotoCondensed-light', sans-serif;
  line-height: 25px;
  font-size: 1.125rem;
  text-align: center;
  color: #1B1B1B;
  text-transform: uppercase;
  display: block;
  margin-bottom: 6px; }
.popup__register-label {
  line-height: 1.2em;
  font-size: 0.875rem;
  color: #1B1B1B;
  display: block;
  margin-bottom: 20px;
  text-align: center;
  padding: 0 2.5rem; }
.popup__register-social {
  text-align: center; }
.popup__register-social a:hover {
  text-decoration: none;
  color: #1B1B1B; }
.popup__login-with {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 2.25rem 0; }
.popup__login-text {
  margin: 0;
  font-size: 0.875rem;
  color: #8A8A8A;
  margin-left: 0.5rem; }
.popup__login-social {
  height: 34px;
  margin-left: 2rem; }
.popup__login-social a {
  text-decoration: none; }
.popup__login-social a:nth-child(even) {
  margin-left: 10px; }
.popup__login-social a:hover {
  text-decoration: none; }

.el--visible {
  display: block;
  opacity: 1;
  visibility: visible; }

.el--invisible {
  opacity: 0;
  visibility: hidden; }

.el--dn {
  display: none; }

.el--no-scroll {
  overflow-y: hidden; }

.el--scroll {
  overflow-y: auto; }

/* end basic classes */
.tel-collapse {
  cursor: pointer;
  font-size: 1.125rem;
  color: #6E6E6E;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 1px; }
.tel-collapse__head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
.tel-collapse__head svg {
  fill: #6E6E6E; }
.tel-collapse__arrow {
  position: relative;
  top: 0; }
.tel-collapse__arrow svg {
  position: absolute;
  top: -2px;
  left: 14px; }
.tel-collapse__body a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  line-height: normal;
  font-size: 18px;
  color: #6E6E6E; }
.tel-collapse__body a:hover {
  color: #6E6E6E;
  text-decoration: none; }

.sub-menu-back {
  display: none; }

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  padding-top: 5px;
  cursor: pointer;
  font-size: 12px; }
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0; }
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
  background: #e2e2e2; }
.control input:checked ~ .control_indicator {
  background: #d6d6d6; }
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
  background: #d6d6d6; }
.control input:disabled ~ .control_indicator {
  background: #e6e6e6;
  opacity: 0.5;
  pointer-events: none; }
.control input:checked ~ .control_indicator:after {
  display: block; }

.control_indicator {
  position: absolute;
  top: 3px;
  left: 5px;
  height: 20px;
  width: 20px;
  background: #fff;
  border: 1px solid #D6D6D6;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
.control_indicator:after {
  -webkit-box-sizing: unset;
  -moz-box-sizing: unset;
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none; }

.control-checkbox .control_indicator:after {
  left: 5px;
  top: 1px;
  width: 6px;
  height: 10px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.control-checkbox input:disabled ~ .control_indicator:after {
  border-color: #7b7b7b; }

/* breadcrumbs */
.breadcrumbs-box {
  background-color: transparent;
  margin: 0.5rem 0 1rem 42px; }

.breadcrumbs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Roboto-regular', sans-serif; }
.breadcrumbs__item {
  margin-right: 0.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
.breadcrumbs__item a {
  line-height: normal;
  font-size: 0.75rem;
  color: #8A8A8A;
  margin-right: 0.5rem; }
.breadcrumbs__item.active a {
  cursor: text;
  color: #1B1B1B; }
.breadcrumbs__arrow {
  display: inline-block;
  margin-top: 1px;
  -webkit-transform: scale(0.4, 0.4);
  -moz-transform: scale(0.4, 0.4);
  -ms-transform: scale(0.4, 0.4);
  -o-transform: scale(0.4, 0.4);
  transform: scale(0.4, 0.4); }
.breadcrumbs__arrow svg {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

/* end breadcrumbs */

.c-counter {
  width: 100px;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  line-height: 25px;
  font-size: 1.125rem;
  font-family: 'Roboto-light', sans-serif;
  border: 1px solid #C4C4C4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #1B1B1B;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
.c-counter__btn {
  width: 33%;
  cursor: pointer;
  padding: 10px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
.c-counter__input {
  width: 33%;
  border: none;
  text-align: center;
  font-size: 1.125rem; }

.c-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
.c-social a:first-child {
  margin-right: 0.5rem; }


.product-min {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 290px; }
.product-min__img {
  position: relative; }
.product-min__img--sm {
  min-width: 65px; }
.product-min__img img {
  border: 1px solid #EBEBEB; }
.product-min__label {
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  background: #FFFFFF;
  border: 1px solid #7396B5;
  color: #7396B5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 8px 2px; }
.product-min__label--sale {
  background-color: #1B1B1B;
  border: 1px solid #1B1B1B;
  color: #FFFFFF; }
.product-min__label--promotion {
  background-color: #FF7A41;
  border: 1px solid #FF7A41;
  color: #FFFFFF; }
.product-min__label--top {
  background-color: #50BD61;
  border: 1px solid #50BD61;
  color: #FFFFFF; }
.product-min__label span {
  display: inline-block;
  font-size: 0.5rem;
  text-transform: uppercase; }
.product-min__title {
  line-height: 20px;
  font-size: 0.875rem;
  color: #1B1B1B;
  margin: 0 0 4px 0; }
.product-min__title--sm {
  font-size: 0.75rem;
  line-height: 1.5em; }
.product-min__box {
  margin-left: 23px; }
.product-min__box--ml {
  margin-left: 15px; }
.product-min__sizes-box {
  font-size: 0.875rem;
  color: #848484; }
.product-min__sizes-box span {
  display: inline-block; }
.product-min__sizes-box span:first-child {
  margin-right: 5px;
  padding-right: 5px;
  border-right: 1px solid #848484; }
.product-min__price {
  font-size: 24px;
  line-height: 20px;
  margin: 1px 0 0 0; }
.product-min__price--sm {
  font-size: 0.875rem; }

.add-to-bag__layout {
  position: fixed;
  z-index: 150;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(20, 20, 20, 0.75);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%); }
.add-to-bag__layout.active {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0); }

.add-to-bag__body {
  position: fixed;
  z-index: 151;
  height: 100vh;
  max-width: 310px;
  top: 0;
  right: 0;
  background-color: #FFFFFF;
  padding: 0 15px;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s; }
.add-to-bag__body.active {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0); }

.add-to-bag__close {
  position: absolute;
  right: 25px;
  top: 35px;
  cursor: pointer; }

.add-to-bag__prod-box {
  height: -webkit-calc(100vh - 300px);
  height: -moz-calc(100vh - 300px);
  height: calc(100vh - 300px);
  overflow-y: auto; }

.add-to-bag__head {
  margin: 25px 0 20px;
  line-height: 34px;
  font-size: 1.5rem; }

.add-to-bag__bottom {
  margin: 0 5px; }

.add-to-bag__bottom-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 12px; }

.add-to-bag__name-row {
  line-height: 20px;
  font-size: 0.875rem;
  color: #848484; }

.add-to-bag__total-row {
  font-size: 1.5rem;
  text-align: right;
  color: #1B1B1B; }

.add-to-bag__bottom-btn {
  margin-top: 25px; }

.add-to-bag hr {
  margin-bottom: 22px; }

/* product-card */

.product-card {
  margin-top: 124px; }
.product-card .breadcrumbs-box {
  margin-bottom: 3.25rem; }
.product-card__filter-body {
  max-width: none;
  position: relative; }
.product-card__table-sizes-link {
  margin-top: 5px;
  line-height: 17px;
  font-size: 0.75rem;
  -webkit-text-decoration-line: underline;
  -moz-text-decoration-line: underline;
  text-decoration-line: underline; }
.product-card__table-sizes-link a {
  color: #F6A17C; }
.product-card__filter-item {
  margin-top: 26px; }
.product-card .filter-item__header {
  width: 55px;
  min-width: 55px;
  margin-right: 30px; }
.product-card__social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 14px; }
.product-card__social > span {
  font-family: 'RobotoCondensed-light', sans-serif;
  font-size: 0.875rem;
  display: inline-block;
  margin-right: 26px;
  color: #1B1B1B; }
.product-card__title-same-slider {
  margin-bottom: 30px; }
.card-buy {
  margin-top: 45px; }
.card-buy__count {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: 'RobotoCondensed-light', sans-serif; }
.card-buy__btn {
  width: 100%; }
.card-buy__input {
  font-size: 0.875rem; }
.card-buy__row {
  margin-top: 30px; }
.card-buy__label {
  line-height: 17px;
  font-size: 0.75rem;
  color: #383838;
  font-family: 'RobotoCondensed-light', sans-serif;
  margin: 0.5rem 0 0 0; }

.mob-card-head {
  display: none; }

.card-head__title {
  font-size: 1.5rem;
  color: #1B1B1B;
  max-width: 370px;
  margin: 0 0 10px 0;
  line-height: 1.25em; }

.card-head__price {
  margin-top: 28px;
  font-size: 1.5rem;
  color: #FF1313; }

.card-head__old-price {
  text-decoration: line-through;
  color: #A5A5A5;
  font-size: 1.125rem;
  margin-bottom: 10px; }

.card-tabs {
  margin-top: 50px;
  margin-bottom: 190px; }
.card-tabs__head {
  background-color: #E8EEF3;
  font-family: 'RobotoCondensed-light', sans-serif;
  text-transform: uppercase;
  font-size: 1.125rem;
  padding: 0 50px; }
.card-tabs__head li {
  display: inline-block; }
.card-tabs__head li:not(:last-child) {
  margin-right: 65px; }
.card-tabs__link {
  display: block;
  color: #8A8A8A;
  border-bottom: 4px solid transparent;
  padding: 1rem 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s; }
.card-tabs__link:hover, .card-tabs__link:active {
  color: #1B1B1B;
  text-decoration: none; }
.card-tabs__link.active {
  color: #1B1B1B;
  border-bottom: 4px solid #1B1B1B; }
.card-tabs__item {
  width: 100%;
  min-height: 350px;
  padding: 0 50px;
  font-family: 'RobotoCondensed-light', sans-serif; }
.card-tabs__item:not(:first-child) {
  display: none; }
.card-tabs__body {
  margin-top: 47px; }

.card-characteristics__desc {
  line-height: 20px;
  font-size: 0.875rem;
  color: #6E6E6E;
  max-width: 90%;
  margin-bottom: 42px; }

.card-characteristics__table thead tr th:first-child {
  width: 240px; }

.card-characteristics__table {
  border: 0px solid transparent;
  background-color: #FFFFFF;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  font-family: 'RobotoCondensed-light', sans-serif;
  color: #6E6E6E; }
.card-characteristics__table a {
  font-family: 'RobotoCondensed-regular', sans-serif;
  color: #1B1B1B; }
.card-characteristics__table a:hover {
  text-decoration: none;
  color: #F6A17C; }
.card-characteristics__table td, .card-characteristics__table table.card-characteristics__table th {
  border: 0px solid transparent; }
.card-characteristics__table tbody td {
  font-size: 0.875rem;
  padding: 7px 2px 7px 29px; }
.card-characteristics__table tr:nth-child(even) {
  background: #F3F6F9; }
.card-characteristics__table thead tr {
  background: #FFFFFF; }
.card-characteristics__table thead th {
  font-size: 1.125rem;
  font-weight: normal;
  text-transform: uppercase;
  font-family: 'RobotoCondensed-light', sans-serif;
  padding-left: 29px;
  padding-bottom: 1rem; }

/* end product-card */

@media only screen and (max-width: 1360px) {
  .footer-top__img img {
    -o-object-fit: cover;
    object-fit: cover;  }
  .card-slider-box {
    width: 400px; }
  .product-card__social {
    margin-left: 265px; }
  .my-order-detail__product-total {
    text-align: center;
    font-size: 1rem; }
  .about__important {
    margin-top: 10px;
    margin-bottom: 20px; }
  .about__img--mt {
    margin-top: 10px; } }

@media only screen and (max-width: 1200px) {
  .header > .container {
    max-width: 100%; }
  .logo {
    margin-top: 1.25rem; }
  .search {
    margin-left: 1rem; }
  .navigation__item--promotion {
    margin-right: 10px; }
  .description__content-box {
    margin-left: 0; }
  .description__sub-title {
    margin-right: 0; }
  .description__text {
    margin-right: 0; }
  .card-slider-box {
    width: 400px; }
  .card-slider-small-box {
    display: none; }
  .product-card__social {
    margin-left: 25px; }
  .order-collapse__body .access-agree {
    max-width: 300px; }
  .basket.container {
    max-width: 100%; }
  .product-min-basket {
    max-width: 290px; }
  .product-min-basket__title {
    font-size: 0.875rem; }
  .product-min-basket__price {
    font-size: 1.125rem;
    margin-top: 5px; }
  .product-min-basket__box {
    margin-left: 20px; }
  .basket-item__total-box {
    margin-left: 20px; }
  .my-order-head {
    margin-right: 20px; }
  .my-order-head__col {
    min-width: 200px; }
  .my-order-detail__delivery {
    margin-top: 14px; }
  .c-tabs-v__item--w72 {
    max-width: 100%; }
  .promo__link img {
    width: 100%; }
  .buyers-info__img-step figcaption {
    line-height: 20px;
    font-size: 0.75rem;
    min-height: 80px; }
  .blog-article__body img:first-child {
    margin-top: -5.7%; } }

@media only screen and (max-width: 992px) {
  .header {
    display: none; }
  .header-mob {
    display: block !important;
    position: fixed;
    z-index: 110;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 4px 4px rgba(149, 149, 149, 0.25);
    -moz-box-shadow: 0px 4px 4px rgba(149, 149, 149, 0.25);
    box-shadow: 0px 4px 4px rgba(149, 149, 149, 0.25); }
  .header-top__icon-box {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .header-top__user {
    text-align: left; }
  .header-top__info-box {
    background-color: #E8EEF3;
    padding: 1rem;
    margin: 0 -15px; }
  .user-like {
    margin-right: 2rem; }
  .user-cart {
    margin-right: 2rem; }
  .logo {
    margin-top: 15px;
    max-width: 196px;
    margin-top: 0; }
  .logo-box {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .search__toggle {
    margin: 0; }
  .search__body {
    left: 15px; }
  .btn-menu {
    padding: 0.75rem 0.5rem;
    font-size: inherit;
    cursor: pointer;
    display: inline-block;
    outline: none;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: #E8EEF3;
    border: none;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out; }
  .btn-menu:hover span {
    background-color: #1B1B1B; }
  .btn-menu.is-active span {
    background-color: #1B1B1B; }
  .btn-menu.is-active span:nth-child(2) {
    opacity: 0; }
  .btn-menu.is-active span:first-child {
    top: 0.438em;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .btn-menu.is-active span:last-child {
    top: -0.313em;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .btn-menu span {
    position: relative;
    top: 0;
    display: block;
    width: 1.25em;
    height: 0.125em;
    margin-bottom: .250em;
    background-color: black;
    -webkit-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out; }
  .btn-menu span:last-child {
    margin-bottom: 0; }
  .btn-menu-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .navigation {
    margin: 1rem 0; }
  .header-bottom {
    padding-top: 1rem;
    padding-bottom: 1rem; }
  .navigation-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .collapse-box {
    min-width: 185px;
    text-align: right; }
  .box-dropdown {
    position: fixed;
    top: 104px;
    left: 15px;
    z-index: 40;
    width: 100%;
    background-color: #FFFFFF;
    max-height: -webkit-calc(100vh - 104px);
    max-height: -moz-calc(100vh - 104px);
    max-height: calc(100vh - 104px);
    overflow: scroll; }
  .drop-menu {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    z-index: 10;
    top: 104px; }
  .drop-menu__box {
    margin-bottom: 2.5rem; }
  .drop-menu__item {
    margin-bottom: 1.25rem; }
  .drop-menu__item:first-child {
    margin-bottom: 1rem; }
  .navigation__item:hover .drop-menu, .navigation__item:active .drop-menu {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }
  .sub-menu-back {
    display: inline-block;
    position: absolute;
    left: 22px;
    top: 2rem;
    z-index: 50;
    cursor: pointer; }
  .sub-menu-back svg {
    fill: #8A8A8A; }
  .main-slider__content {
    padding: 25px 35px;
    min-width: 265px; }
  .main-slider__text {
    margin-bottom: 0.75rem; }
  .main-slider__text h2 {
    font-size: 5.25rem;
    margin-top: 0; }
  .main-slider__text p {
    font-size: 1.125rem; }
  .main-slider .slick-dots {
    bottom: 4px; }
  .product-item {
    max-width: 295px;
    margin: 0 auto 4rem; }
  .description__content-box {
    margin-top: 3.25rem; }
  .description__title {
    margin-bottom: 0.875rem; }
  .description__img {
    text-align: center; }
  .sort-box__select {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .catalog-page .main-slider__item img {
    height: auto; }
  .catalog {
    margin-top: 95px; }
  .catalog .head-chapter {
    display: none; }
  .breadcrumbs-box {
    display: none; }
  .filters-mob__title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #E8EEF3;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 1.125rem;
    color: #1B1B1B;
    text-transform: uppercase;
    padding: 1rem 14px 0.5rem 14px; }
  .mob-breadcrumbs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .mob-breadcrumbs__link {
    display: inline-block;
    margin-left: 10px;
    text-transform: uppercase;
    line-height: 1em;
    font-size: 1.125rem;
    color: #93A6B6;
    font-family: 'RobotoCondensed-bold', sans-serif;
    text-decoration: none; }
  .mob-breadcrumbs__link:hover, .mob-breadcrumbs__link:active {
    text-decoration: none; }
  .mob-breadcrumbs__img {
    fill: #93A6B6; }
  .card-head__title {
    display: none; }
  .card-head .product-code {
    display: none; }
  .card-head__price {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .card-head__old-price {
    margin-bottom: 0;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-left: 18px;
    margin-top: 5px; }
  .card-tabs {
    margin-top: 28px;
    margin-bottom: 86px; }
  .card-tabs__item {
    padding: 0 15px; }
  .card-tabs__head {
    padding: 0;
    background-color: transparent; }
  .card-tabs__head li {
    display: block;
    margin-bottom: 3px;
    padding: 0 25px;
    background-color: #E8EEF3; }
  .card-tabs__head li:not(:last-child) {
    margin-right: 0; }
  .card-tabs__head li:hover, .card-tabs__head li:active {
    background-color: #DFE6EC; }
  .card-tabs__link {
    border-bottom: none; }
  .card-tabs__link.active {
    border-bottom: none; }
  .filter-radio__body {
    max-width: none; }
  .card-buy__count {
    display: none; }
  .card-characteristics__desc {
    max-width: 100%; }
  .footer-top__box {
    margin-bottom: 2.5rem; }
  .footer-top__img {
    display: none; }
  .basket {
    margin-top: 130px; }
  .basket.container {
    max-width: 720px; }
 }

@media only screen and (max-width: 991px) {
  .table-sizes {
    width: 375px; }
  .table-sizes__collapse-link {
    display: none; }
  .table-sizes__mobile-link {
    display: block;
    text-align: left; }
  .table-sizes__mob-title {
    text-transform: uppercase;
    font-size: 0.875rem;
    line-height: 20px;
    text-decoration: underline; }
  .table-sizes__clothes-img figure {
    max-width: 190px;
    padding: 15px;
    margin-left: -10px;
    margin-right: -10px; }
  .table-sizes__mob {
    padding: 30px 10px; }
  .table-sizes__mob .mob-back {
    margin-left: 15px; }
  .table-sizes__mob .mob-back__arrow {
    margin-right: 30px; }
  .popup-clothes {
    padding: 30px 25px; } }

@media only screen and (max-width: 768px) {
  .btn--banner {
    padding: 10px 1rem; }
  .navigation {
    display: block;
    margin-top: 2.5rem;
    margin-bottom: 0;
    padding-left: 1rem; }
  .navigation__item {
    padding-bottom: 2.5rem; }
  .navigation__item--promotion {
    display: inline-block; }
  .navigation-box {
    display: block; }
  .collapse-box {
    text-align: left;
    padding-left: 1rem;
    margin-bottom: 1.75rem; }
  .header-top__nav {
    display: block; }
  .header-top__info-box {
    position: relative;
    padding: 2rem; }
  .header-top__nav-box {
    margin-top: 2.375rem; }
  .header-top__nav-item {
    padding-bottom: 1.5rem; }
  .header-text {
    letter-spacing: -0.3px; }
  .drop-menu {
    max-height: -webkit-calc(100vh - 104px);
    max-height: -moz-calc(100vh - 104px);
    max-height: calc(100vh - 104px);
    overflow: scroll;
    position: absolute;
    top: 0;
    left: 0; }
  .drop-menu__item-box {
    padding-left: 65px; }
  .main-slider-box {
    margin-bottom: 0; }
  .main-slider__item img {
    min-height: 295px;
    -o-object-fit: cover;
    object-fit: cover; }
  .product-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 400px; }
  .product-item__img {
    min-width: 150px; }
  .product-item__content {
    min-width: 175px;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end; }
  .product-item__label {
    bottom: 0;
    left: 0; }
  .description__img {
    padding-left: 0;
    padding-right: 0; }
  .footer-top__img {
    text-align: center; }
  .product-placeholder {
    max-width: 400px;
    margin: 0 auto 4rem;
    min-height: 210px; }
  .product-placeholder__img {
    -webkit-transform: scale(0.769);
    -moz-transform: scale(0.769);
    -ms-transform: scale(0.769);
    -o-transform: scale(0.769);
    transform: scale(0.769); }
  .product-placeholder__text {
    margin-top: 12px;
    margin-bottom: 0;
    font-size: 1.125rem; }
  .same-prod-slider .product-item {
    display: block; }
  .card-characteristics__table thead tr th:first-child {
    width: 110px;
    max-width: 110px; }
  .card-characteristics .card-characteristics__table tbody td {
    padding: 7px 2px 7px 12px; }
  }

@media only screen and (max-width: 767px) {
  .blog-article__title {
    line-height: 34px;
    font-size: 24px;
    margin: 0 0 0 10px;
    padding: 21px 1rem; }
  .blog-article__label {
    left: 0;
    top: -16px; }
  .blog-article__body {
    margin-bottom: 50px; }
  .blog-article__body img {
    margin: 0 0 26px; }
  .blog-article__body img:first-child {
    max-width: 310px;
    float: none;
    margin: -20px 0 0;
    position: relative;
    left: 100%;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); }
  .blog-article__body blockquote {
    line-height: 25px;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px; }
  .blog-article__similar-link {
    padding-right: 0; }
  .blog-article__similar-themes {
    margin-bottom: 78px; }
  .blog-article__similar-themes .head-chapter {
    margin-bottom: 70px; }
  .line-left {
    line-height: 25px;
    font-size: 18px;
    padding-right: 0; } }

@media only screen and (max-width: 576px) {
  .btn--circle {
    padding: 10px 15px;
    min-width: 100px; }
  .btn--circle:nth-child(even) {
    margin: 0; }
  .product-group__box {
    max-width: 80%; }
  .footer-top__box {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    margin-left: 1.5rem; }
  .footer-contacts {
    margin: 2rem 0; }
  .card-slider-box {
    max-width: 100%; }
  .card-buy__input {
    min-width: 100%; }
  .card-buy .btn--popup__gray {
    min-width: 100%;
    padding: 1rem 5px; }
  .slider-card {
    margin: 0 15px; }
  .card-tabs__head {
    text-align: center; }
  .add-to-bag__body {
    max-width: 100%;
    width: 100%; }
  .add-to-bag__layout {
    display: none; }
  .same-prod-slider-box {
    margin-bottom: 38px;
    margin-left: 0;
    margin-right: 0; }
  .same-prod-slider-box .slick-next {
    right: -15px;
    -webkit-transform: scale(0.72, 0.72);
    -moz-transform: scale(0.72, 0.72);
    -ms-transform: scale(0.72, 0.72);
    -o-transform: scale(0.72, 0.72);
    transform: scale(0.72, 0.72);
    top: 35%; }
  .same-prod-slider-box .slick-prev {
    left: -15px;
    -webkit-transform: scale(0.72, 0.72);
    -moz-transform: scale(0.72, 0.72);
    -ms-transform: scale(0.72, 0.72);
    -o-transform: scale(0.72, 0.72);
    transform: scale(0.72, 0.72);
    top: 35%; }
  .product-card .product-item__content {
    max-width: 114px;
    min-width: 100%; }
  .product-card .product-item__content {
    padding: 16px 12px; }
  .product-card .product-item__title {
    margin-bottom: 5px; }
  .product-placeholder {
    min-height: 230px; }
  .footer-top__img {
    display: block; }
  .basket {
    margin-bottom: 90px; }
  .basket .order-basket {
    margin-top: 30px;
    background-color: transparent; }
  .basket .order-basket__head {
    display: none; }
  .basket .order-basket__body {
    display: none; }
  .basket .order-basket__btn-box {
    padding: 0 10px;
    border-top: transparent; }
  .basket-total__row {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-left: 0.5rem; }
  .c-cabinet__discount {
    display: block; }
  .c-cabinet__personal-discount {
    margin-bottom: 8px; }
  .blog-item__title {
    margin-right: 5px; }
  .blog-item__img-mobile {
    width: auto;
    min-width: 155px; }
  .table-sizes {
    width: 340px; } }

@media only screen and (min-height: 1025px) {
  .contacts-map {
    height: -webkit-calc(570px + 20vh);
    height: -moz-calc(570px + 20vh);
    height: calc(570px + 20vh); }
  .promo-detail {
    min-height: -webkit-calc(100vh - 425px);
    min-height: -moz-calc(100vh - 425px);
    min-height: calc(100vh - 425px); } }

@media only screen and (max-height: 1024px) {
  .buyers-info {
    min-height: -webkit-calc(100vh - 380px);
    min-height: -moz-calc(100vh - 380px);
    min-height: calc(100vh - 380px); } }

@media only screen and (max-height: 500px) {
  .add-to-bag__prod-box {
    height: auto;
    overflow-y: initial; }
  .add-to-bag__body {
    height: 100vh;
    overflow-y: auto; } }


/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  [dir="rtl"] & {
    float: right;
  }
  img {
    display: block;
  }
  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}
.slick-arrow.slick-hidden {
  display: none;
}

#parameters {
  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    label {
      margin-bottom: 0;
    }
  }
  input {
    margin-left: 20px;
  }
  select {
    margin-left: 20px;
  }

  // select styles
  .select-css {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 50%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0 0 0 20px;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
  }
  .select-css::-ms-expand {
    display: none;
  }
  .select-css:hover {
    border-color: #888;
  }
  .select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
  }
  .select-css option {
    font-weight:normal;
  }

  // range styles
  [type=range] {
    -webkit-appearance: none;
    background: transparent;
    margin: 12px 0 0 20px;
    width: 50%;
  }
  [type=range]::-moz-focus-outer {
    border: 0;
  }
  [type=range]:focus {
    outline: 0;
  }
  [type=range]:focus::-webkit-slider-runnable-track {
    background: #fbfbfc;
  }
  [type=range]:focus::-ms-fill-lower {
    background: #eceff1;
  }
  [type=range]:focus::-ms-fill-upper {
    background: #fbfbfc;
  }
  [type=range]::-webkit-slider-runnable-track {
    cursor: default;
    height: 8px;
    transition: all 0.2s ease;
    width: 100%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
    background: #eceff1;
    border: 2px solid #cfd8dc;
    border-radius: 5px;
  }
  [type=range]::-webkit-slider-thumb {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2), 0 0 4px rgba(13, 13, 13, 0.2);
    background: #607d8b;
    border: 2px solid #eceff1;
    border-radius: 12px;
    box-sizing: border-box;
    cursor: default;
    height: 24px;
    width: 24px;
    -webkit-appearance: none;
    margin-top: -10px;
  }
  [type=range]::-moz-range-track {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
    cursor: default;
    height: 8px;
    transition: all 0.2s ease;
    width: 100%;
    background: #eceff1;
    border: 2px solid #cfd8dc;
    border-radius: 5px;
    height: 4px;
  }
  [type=range]::-moz-range-thumb {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2), 0 0 4px rgba(13, 13, 13, 0.2);
    background: #607d8b;
    border: 2px solid #eceff1;
    border-radius: 12px;
    box-sizing: border-box;
    cursor: default;
    height: 24px;
    width: 24px;
  }
  [type=range]::-ms-track {
    cursor: default;
    height: 8px;
    transition: all 0.2s ease;
    width: 100%;
    background: transparent;
    border-color: transparent;
    border-width: 12px 0;
    color: transparent;
  }
  [type=range]::-ms-fill-lower {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
    background: #dde3e6;
    border: 2px solid #cfd8dc;
    border-radius: 10px;
  }
  [type=range]::-ms-fill-upper {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
    background: #eceff1;
    border: 2px solid #cfd8dc;
    border-radius: 10px;
  }
  [type=range]::-ms-thumb {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2), 0 0 4px rgba(13, 13, 13, 0.2);
    background: #607d8b;
    border: 2px solid #eceff1;
    border-radius: 12px;
    box-sizing: border-box;
    cursor: default;
    height: 24px;
    width: 24px;
    margin-top: 2px;
  }
  [type=range]:disabled::-webkit-slider-thumb, [type=range]:disabled::-moz-range-thumb, [type=range]:disabled::-ms-thumb, [type=range]:disabled::-webkit-slider-runnable-track, [type=range]:disabled::-ms-fill-lower, [type=range]:disabled::-ms-fill-upper {
    cursor: not-allowed;
  }

  // checkbox
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
  }

  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }

  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  .container input:checked ~ .checkmark {
    background-color: rgb(144, 144, 144);
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .container input:checked ~ .checkmark:after {
    display: block;
  }

  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

}

#sdv-container {
  width: 100%;
  height: 500px;
}

.hint{
  font-size: 0.875rem;
}