.header {
  position: fixed;
  background-color: #FFFFFF;
  top: 0;
  left: 0;
  right: 0;
  z-index: 110;
  -webkit-box-shadow: 0px 4px 4px rgba(149, 149, 149, 0.25);
  -moz-box-shadow: 0px 4px 4px rgba(149, 149, 149, 0.25);
  box-shadow: 0px 4px 4px rgba(149, 149, 149, 0.25); }

.header-mob {
  display: none; }

.header-top {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: relative; }
.header-top:before {
  content: '';
  position: absolute;
  display: block;
  border-bottom: 1px solid #A2A2A2;
  height: 1px;
  width: 9999px;
  bottom: 0;
  left: -100%; }
.header-top__nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
.header-top__nav-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
.header-top__icon-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
.header-top__icon-box svg {
  fill: #ACB6BE;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s; }
.header-top__icon-box svg:hover, .header-top__icon-box svg:active {
  fill: #1B1B1B; }
.header-top__user {
  text-align: right; }
.header-top__log-in {
  margin-right: 11px; }
.header-top__info-box {
  padding-top: 5px; }

.header-bottom {
  padding-top: 0.5rem;
  padding-bottom: 0.6875rem; }
.header-bottom__content {
  margin-top: 1rem; }
.header-bottom__call-back {
  display: block;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 0.75rem;
  color: #393939;
  text-decoration: none;
  margin-right: 24px; }
.header-bottom__call-back:hover {
  color: #393939;
  text-decoration: none; }

.logo {
  padding-top: 15px;
  display: block;
  width: 100%;
  max-width: 293px; }

.nav-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative; }

.navigation {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'RobotoCondensed-bold', sans-serif; }
.navigation__item a {
  text-decoration: none;
  text-transform: uppercase;
  line-height: normal;
  font-size: 0.875rem;
  color: #393939; }
.navigation__item--promotion {
  position: relative; }
.navigation__item--promotion a {
  color: #F6A17C; }
.navigation__item--promotion span {
  width: 27px;
  height: 26px;
  display: inline-block;
  position: absolute;
  top: -16px;
  right: -21px; }
.navigation__item:hover .drop-menu, .navigation__item:active .drop-menu {
  visibility: visible;
  opacity: 1; }

.drop-menu {
  padding-top: 2rem;
  padding-bottom: 2rem;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 108px;
  left: 0;
  width: 100vw;
  border-top: 2px solid #1B1B1B;
  background: #FFFFFF;
  overflow: hidden;
  min-height: 385px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s; }
.drop-menu__category {
  margin-bottom: 1.3125rem;
  text-transform: uppercase;
  line-height: 1.2em;
  font-size: 1.125rem;
  color: #93A6B6;
  font-family: 'RobotoCondensed-bold', sans-serif; }
.drop-menu__box {
  list-style: none;
  margin: 0 0 1rem 0;
  padding: 0; }
.drop-menu__item {
  margin-bottom: 10px; }
.drop-menu__item a {
  font-family: 'RobotoCondensed-regular', sans-serif;
  text-transform: none;
  font-size: 0.875rem;
  color: #8A8A8A;
  line-height: normal;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s; }
.drop-menu__item a:hover, .drop-menu__item a:active {
  color: #1B1B1B; }
.drop-menu__item:first-child {
  margin-bottom: 6px; }
.drop-menu__item:first-child a {
  color: #393939;
  text-transform: uppercase; }
.drop-menu__item:last-child {
  margin-bottom: 0; }

.search {
  width: 18px;
  margin-left: 45px; }
.search__body {
  position: absolute;
  background-color: #ccc;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s; }
.search__toggle {
  cursor: pointer;
  margin-top: 10px;
  display: inline-block; }
.search__input {
  width: 100%;
  height: 100%;
  border: 1px solid #848484;
  padding: 0.5rem;
  font-size: 1rem;
  color: #6E6E6E; }
.search__input::-webkit-input-placeholder {
  color: #9BA4AB; }
.search__input::-moz-placeholder {
  color: #9BA4AB; }
.search__input:-ms-input-placeholder {
  color: #9BA4AB; }
.search__input::placeholder {
  color: #9BA4AB; }
.search__go {
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 10px; }
.search__go:focus {
  outline: none; }
.search svg {
  fill: #393939;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s; }
.search svg:hover, .search svg:active {
  fill: #F6A17C; }

.header-tel-collapse {
  display: inline-block;
  font-family: 'RobotoCondensed-bold', sans-serif;
  cursor: pointer;
  font-size: 1.125rem;
  color: #F6A17C;
  line-height: normal;
  letter-spacing: 0;
  position: relative;
  margin-right: 23px; }
.header-tel-collapse__head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
.header-tel-collapse__head svg {
  fill: #F6A17C; }
.header-tel-collapse__arrow {
  position: relative;
  top: 0; }
.header-tel-collapse__arrow svg {
  position: absolute;
  top: -2px;
  left: 14px; }
.header-tel-collapse__body {
  top: 0;
  right: -28px;
  position: absolute;
  z-index: 10;
  background-color: #FFFFFF;
  padding: 10px 15px;
  -webkit-box-shadow: 0px 0px 5px rgba(116, 130, 142, 0.35);
  -moz-box-shadow: 0px 0px 5px rgba(116, 130, 142, 0.35);
  box-shadow: 0px 0px 5px rgba(116, 130, 142, 0.35);
  width: 176px; }
.header-tel-collapse__body a {
  display: block;
  text-decoration: none;
  line-height: normal;
  font-size: 1.125rem;
  color: #F6A17C; }
.header-tel-collapse__body a.header-tel-collapse__link {
  margin-top: 10px;
  font-family: 'RobotoCondensed-regular', sans-serif;
  display: block;
  font-size: 0.75rem;
  color: #393939;
  text-decoration: none;
  background-color: #FFFFFF;
  border: 1px solid #1B1B1B;
  line-height: 1em;
  text-align: center;
  padding: 5px;
  letter-spacing: -0.5px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px; }
.header-tel-collapse__body a.header-tel-collapse__link:hover {
  text-decoration: none;
  color: #393939; }
.header-tel-collapse__body a:hover {
  color: #F6A17C;
  text-decoration: none; }

.lang {
  position: relative;
  display: inline-block; }
.lang__box {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: -5px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 0px 5px rgba(116, 130, 142, 0.35);
  -moz-box-shadow: 0px 0px 5px rgba(116, 130, 142, 0.35);
  box-shadow: 0px 0px 5px rgba(116, 130, 142, 0.35); }
.lang__default {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
.lang__default svg:first-child {
  margin-right: 0.5rem; }
.lang__item {
  background: #FFFFFF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 3px 5px;
  cursor: pointer; }
.lang__item a {
  font-size: 0.75rem;
  color: #ACB6BE;
  text-decoration: none;
  margin-left: 5px; }
.lang__item:nth-child(even) {
  background: #f5f5f5; }
.lang__item:nth-child(even) a {
  color: #393939; }
.lang:hover .lang__box, .lang:active .lang__box {
  visibility: visible;
  opacity: 1;
  z-index: 50; }
.col-md-5.padding_for_arrow {
  padding-right: 9px;
}