/* same prod slider */
.same-prod-slider-box {
  margin-bottom: 116px;
  margin-left: 40px;
  margin-right: 40px; }

.same-prod-slider {
  margin: 0; }
.same-prod-slider .slick-list {
  margin: 0 -20px; }
.same-prod-slider__item {
  padding: 0 20px; }
.same-prod-slider .product-item {
  margin: 0; }

/* end same prod slider */

/* slider arrows */
.slick-prev, .slick-next {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #DFE6EC;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  z-index: 10;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }
.slick-prev svg, .slick-next svg {
  stroke: #6E6E6E; }
.slick-prev:hover, .slick-prev:active, .slick-next:hover, .slick-next:active {
  background-color: #93A6B6; }

.slick-prev {
  left: -25px; }

.slick-next {
  right: -25px; }

/* end slider arrows */
